/*------------------------------------------------------------------------------
  ET18 Team 33 - GFM Packers
  Datum:       13.12.2019
  Autor:       German Steile
  Dateiname:   style.css
------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------
----------------------Allgemeine Stylesheets------------------------------------
--------------------------------------------------------------------------------
*/

/*
-----------Klassenbezogene Stylesheets----------------
*/

.bg-Inhalt{
  background-color: lightgoldenrodyellow;
}

.bordered{
  border: 2px solid;
}

.fa-square{
  font-size: 25px;
  color: gray;
  margin-right: 5px;
}

.button{
  background-color: lightgrey;
  border-radius: 4px;
  box-shadow: 3px 3px;
  color: black;
  margin-bottom: 5px;
  margin-top: 3px;
}

.button:hover{
  background-color: #777777;
  box-shadow: 2px 2px;
}

/*
-----------ID-bezogene Stylesheets----------------
*/

#ereignisseSortieren{
  border-radius: 2px;
}

/*------------------------------------------------------------------------------
----------------------Stylesheets für Responsive-Design-------------------------
--------------------------------------------------------------------------------
*/

/* ANMERKUNG:
Es sind absichtlich einige Anpassungen zwischen unterschiedlichen Abmessungen
doppelt bzw. mehrfach eingefügt. Dies soll mögliche Modifikationen erleichtern! */


/* Design für Smartphones etc. mit Bildschirmbreite < 475px  */
@media only screen and (max-width: 474.98px) {

  /* Anpassungen Gesamtlayout */
  main{
    margin-top: 106px;
    margin-bottom: 31px;
  }
  #firmenlogo{
    width: 35px;
    height: 35px;
  }
  #produktname{
    font-size: 27px;
  }

  /* Anpassungen Inhalt */
  h2{
    font-size: 20px;
  }
  h3{
    font-size: 20px;
  }
  p{
    font-size: 10px;
  }
  table{
    font-size: 10px;
  }
  .button{
    width: 100px;
    height: 32px;
    font-size: 10px;
    font-weight: bold;
  }
  #button_BoxOeffnen{
    height: 50px;
    width: 125px;
    font-size: 14px;
    font-weight: bold;
  }
  #button_Index_Hinzufuegen{
    height: 90px;
    width: 80px;
    font-size: 12px;
  }
  #ereignisseSortieren{
    width: 100px;
    font-size: 12px;
  }
}

/* Design für Smartphones etc. ab Bildschirmbreite >= 475px  */
@media only screen and (min-width: 475px) {

  /* Anpassungen Gesamtlayout */
  main{
    margin-top: 106px;
    margin-bottom: 31px;
  }
  #firmenlogo{
    width: 50px;
    height: 50px;
  }
  #produktname{
    font-size: 27px;
  }

  /* Anpassungen Inhalt */
  h2{
    font-size: 20px;
  }
  h3{
    font-size: 20px;
  }
  p{
    font-size: 12px;
  }
  table{
    font-size: 12px;
  }
  .button{
    width: 100px;
    height: 32px;
    font-size: 10px;
    font-weight: bold;
  }
  #button_BoxOeffnen{
    height: 75px;
    width: 150px;
    font-size: 14px;
    font-weight: bold;
  }
  #button_Index_Hinzufuegen{
    height: 90px;
    width: 90px;
    font-size: 12px;
  }
  #ereignisseSortieren{
    width: 100px;
    font-size: 12px;
  }
}

/* Design für Endgeräte etc. mit Bildschirmbreite >= 634px und < 768px */
@media only screen and (min-width: 634px) {

  /* Anpassungen Gesamtlayout */
  main{
    margin-top: 150px;
    margin-bottom: 40px;
  }
  h2{
    font-size: 30px;
  }
  h3{
    font-size: 25px;
  }
  p{
    font-size: 14px;
  }
  #firmenlogo{
    width: 100px;
    height: 100px;
  }
  #produktname{
    font-size: 40px;
  }

  /* Anpassungen Inhalt */
  .button{
    width: 170px;
    height: 39px;
    font-size: 14px;
  }
  #button_BoxOeffnen{
    height: 90px;
    width: 250px;
    font-size: 16px;
    font-weight: bold;
  }
  #button_Index_Hinzufuegen{
    height: 90px;
    width: 145px;
    font-size: 14px;
  }
  #ereignisseSortieren{
    width: 200px;
    font-size: 16px;
  }
  #button_neuerEmpfanger{
    height: 50px;
  }
}

/* Design für Endgeräte etc. mit Bildschirmbreite >= 768px und < 992px */
@media only screen and (min-width: 768px) {

  /* Anpassungen Gesamtlayout */
  main{
    margin-top: 150px;
    margin-bottom: 40px;
  }

  /* Anpassungen Inhalt */
  .button{
    width: 200px;
    height: 39px;
    font-size: 14px;
  }
  #button_BoxOeffnen{
    height: 130px;
    width: 200px;
    font-size: 18px;
    font-weight: bold;
  }
  #button_Index_Hinzufuegen{
    height: 90px;
    width: 150px;
  }
  #button_ListeLoeschen, #button_ListeHerunterladen{
    width: 150px;
    height: 50px;
  }
  #button_StartTaster, #button_FehlerTaster, #button_QuittierenTaster{
    width: 160px;
  }
  #ereignisseSortieren{
    width: 160px;
    font-size: 15px;
  }
  #zeitaktivierung{
    margin-top: 5px;
  }
}

/* Design für Endgeräte etc. mit Bildschirmbreite >= 992px und < 1200px */
@media only screen and (min-width: 992px) {

  /* Anpassungen Gesamtlayout */
  main{
    margin-top: 150px;
    margin-bottom: 40px;
  }

  /* Anpassungen Inhalt */
  .button{
    width: 200px;
    height: 39px;
    font-size: 14px;
  }
  #button_BoxOeffnen{
    height: 100px;
    width: 220px;
    font-size: 18px;
    font-weight: bold;
  }
  #button_Index_Hinzufuegen{
    height: 90px;
    width: 150px;
  }
  #button_ListeLoeschen, #button_ListeHerunterladen{
    width: 200px;
    height: 39px;
  }
  #button_StartTaster, #button_FehlerTaster, #button_QuittierenTaster{
    width: 160px;
  }
  #ereignisseSortieren{
    width: 200px;
    font-size: 15px;
  }
  #zeitaktivierung{
    margin-top: 5px;
  }
}
